@page
@model MyCalendar.Pages.Auth.PasswordChangeModel
@{
}

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Zmiana hasła</h1>
    </div>
</div>

<div>
    <div class="container">
        <form method="post">
            <div class="mb-3">
                <label for="OldPassword" class="form-label">Obecne hasło:</label>
                <input type="password" class="form-control" id="OldPassword" asp-for="UserPasswordChangeModel.OldPassword" />
                <span class="text-danger" asp-validation-for="UserPasswordChangeModel.OldPassword"></span>
            </div>
            <div class="mb-3">
                <label for="Password" class="form-label">Hasło:</label>
                <input type="password" class="form-control" id="Password" asp-for="UserPasswordChangeModel.Password" />
                <span class="text-danger" asp-validation-for="UserPasswordChangeModel.Password"></span>
            </div>
            <div class="mb-3">
                <label for="ConfirmPassword" class="form-label">Potwierdź hasło:</label>
                <input type="password" class="form-control" id="ConfirmPassword" asp-for="UserPasswordChangeModel.ConfirmPassword" />
                <span class="text-danger" asp-validation-for="UserPasswordChangeModel.ConfirmPassword"></span>
            </div>
            <button class="btn btn-dark" type="submit">Zmień hasło</button>
        </form>
    </div>
</div>

@if (ViewData["Message"] != null)
{
    <div class="py-2">
        <div class="container">
            <span class="text-warning">@ViewData["Message"]</span>
        </div>
    </div>
}
