@page
@model MyCalendar.Pages.Auth.SignUpModel
@{
}

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Rejestracja</h1>
    </div>
</div>

<div>
    <div class="container">
        <form method="post">
            <div class="mb-3">
                <label for="Email" class="form-label">Email:</label>
                <input type="text" class="form-control" id="Email" asp-for="UserSignUpModel.Email" />
                <span class="text-danger" asp-validation-for="UserSignUpModel.Email"></span>
            </div>
            <div class="mb-3">
                <label for="FirstName" class="form-label">Imie:</label>
                <input type="text" class="form-control" id="FirstName" asp-for="UserSignUpModel.FirstName" />
                <span class="text-danger" asp-validation-for="UserSignUpModel.FirstName"></span>
            </div>
            <div class="mb-3">
                <label for="LastName" class="form-label">Nazwisko:</label>
                <input type="text" class="form-control" id="LastName" asp-for="UserSignUpModel.LastName" />
                <span class="text-danger" asp-validation-for="UserSignUpModel.LastName"></span>
            </div>
            <div class="mb-3">
                <label for="Password" class="form-label">Hasło:</label>
                <input type="password" class="form-control" id="Password" asp-for="UserSignUpModel.Password" />
                <span class="text-danger" asp-validation-for="UserSignUpModel.Password"></span>
            </div>
            <div class="mb-3">
                <label for="ConfirmPassword" class="form-label">Potwierdź hasło:</label>
                <input type="password" class="form-control" id="ConfirmPassword" asp-for="UserSignUpModel.ConfirmPassword" />
                <span class="text-danger" asp-validation-for="UserSignUpModel.ConfirmPassword"></span>
            </div>
            <button class="btn btn-dark" type="submit">Rejestruj</button>
            <a class="btn btn-dark" asp-page="SignIn">Zaloguj się</a>
        </form>
    </div>
</div>

@if (ViewData["Message"] != null)
{
    <div class="py-2">
        <div class="container">
            <span class="text-warning">@ViewData["Message"]</span>
        </div>
    </div>
}
