@page
@model MyCalendar.Pages.AccesRequest.SendRequestModel
@{
}

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Wysyłanie prośby o dostęp</h1>
    </div>
</div>

<div>
    <div class="container">
        <form method="post">
            <div class="mb-3">
                <label for="ToUserEmail" class="form-label">Email osoby:</label>
                <input type="text" class="form-control" id="ToUserEmail" asp-for="AccesRequest.ToUserEmail" />
                <span class="text-danger" asp-validation-for="AccesRequest.ToUserEmail"></span>
            </div>
            <button class="btn btn-dark" type="submit">Wyślij</button>
        </form>
    </div>
</div>

@if (ViewData["Message"] != null)
{
    <div class="py-2">
        <div class="container">
            <span class="text-warning">@ViewData["Message"]</span>
        </div>
    </div>
}