@page
@model MyCalendar.Pages.User.DataChangeModel
@{
}

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Zmiana danych</h1>
    </div>
</div>

<div>
    <div class="container">
        <form method="post">
            <div class="mb-3">
                <label for="FirstName" class="form-label">Imie:</label>
                <input type="text" class="form-control" id="FirstName" asp-for="UserDataChangeModel.FirstName" />
                <span class="text-danger" asp-validation-for="UserDataChangeModel.FirstName"></span>
            </div>
            <div class="mb-3">
                <label for="LastName" class="form-label">Nazwisko:</label>
                <input type="text" class="form-control" id="LastName" asp-for="UserDataChangeModel.LastName" />
                <span class="text-danger" asp-validation-for="UserDataChangeModel.LastName"></span>
            </div>
            <button class="btn btn-dark" type="submit">Zmień dane</button>
        </form>
    </div>
</div>

@if (ViewData["Message"] != null)
{
        <div class="py-2">
            <div class="container">
                <span class="text-warning">@ViewData["Message"]</span>
            </div>
        </div>
}